.address-container {
	border: 1px solid black;
}

.address-wrap {
	border: 1px solid black;
}

.header-container {
	height: 350px;
	background-repeat: no-repeat;
	border: 1px solid black;
}

.work-container {
	border: 1px solid black;
}

.work-wrap {
	border: 1px solid black;
}